<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Gestão de Pessoas</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">CRUD Pessoas</span>
        </div>
    </nav>
</header>
<div class="container my-2">
    <form method="post">
        <div class="form-group">
            <input type="text" class="form-control mb-3" name="titulo" placeholder="Nome *">
        </div>
        <div class="form-group">
            <input type="text" class="form-control mb-3" name="titulo" placeholder="CPF *">
        </div>
        <div class="form-group">
            <input type="text" class="form-control mb-3" name="autor" placeholder="Telefone *">
        </div>
        <div class="form-group">
            <input type="text" class="form-control mb-3" name="autor" placeholder="Email *">
        </div>
        <small class="form-text text-muted">(*) Campos obrigatórios</small>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Cadastrar</button>
        <a href="/posts" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>
        <!--<button type="submit" class="btn" style="margin-top: 10px;">Cancelar</button>-->
    </form>
</div>
</body>
</html>